@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("./assets/dot-seamless-pattern.svg") center;
  background-size: 150px 150px;
}
.App {
  height: 100%;
}

.overflow-scrolling {
  overflow: auto;
  display: flex;
  flex-direction: row;
  -webkit-overflow-scrolling: touch;
}

.css-xeqldi::before {
  width: 0% !important;
}

.ub-w_100vw {
  width: fit-content !important;
  border-radius: 5px;
  padding: 10px;
}

.css-xeqldi {
  overflow-x: scroll;
}
