@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("./assets/dot-seamless-pattern.svg") center;
  background-size: 150px 150px;
}
.App {
  height: 100%;
}
